
.wrapper-bubbles{
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-gap: 0.25rem;
  grid-auto-flow: dense;

  &--auto .checked-bubble{

    &:nth-child(3n){
      grid-column-start: span 2.5;
      grid-row-start: span 2.5;
    }

    &:nth-child(2n){
      grid-column-start: span 2;
      grid-row-start: span 2;
    }
    
  }
}

@media all and (max-width: 800px){
  .wrapper-bubbles{
    width: 100%;
    grid-template-columns: repeat(auto-fill, 20px);
    grid-auto-rows: 20px;
    grid-gap: 0;

    &--auto .bubble{
      grid-column-start: span 5;
      grid-row-start: span 5;

      &:nth-child(3n), &.bubble--lg{
        grid-column-start: span 10;
        grid-row-start: span 10;
      }

      &:nth-child(2n), &.bubble-md{
        grid-column-start: span 7;
        grid-row-start: span 7;
      }

      &:nth-child(5n), &.bubble-md{
        grid-column-start: span 4;
        grid-row-start: span 4;
      }
    } 
  }
}