
$black: #111;
$white: #fff;
$very-light-gray: #ddd;
$light-gray: #bbb;
$dark-gray: #555;
$blue: #345DFF;
$red: #FF6161;
$yellow: #FFB64C;

$primary: $blue;
$background-color: $white;
$font-color: $black;
$border-color: $light-gray;
$input-color: $dark-gray;